@*Created 06/15/2015 Nikki's Computer*@
@using System.Collections.Concurrent
@model SWCLMS.UI.Models.UserDetailsToEditVM
@{
    ViewBag.Title = "Search";
}
<body>
    <h2>User Search</h2>
    <div class="row">
        @using (Html.BeginForm("Search", "Admin"))
        {
            @Html.HiddenFor(u => u.UserDetailsToEdit.UserID)
            <p>
                <div class="col-md-2">
                    @Html.TextBoxFor(u => u.UserDetailsToEdit.LastName, new { @class = "form-control", placeholder = "Last name" })
                </div>

                <div class="col-md-2">
                    @Html.TextBoxFor(u => u.UserDetailsToEdit.FirstName, new { @class = "form-control", placeholder = "First name" })
                </div>

                <div class="col-md-2">
                    @Html.TextBoxFor(u => u.UserDetailsToEdit.Email, new { @class = "form-control", placeholder = "Email" })
                </div>

                <div class="col-md-2">                    
                    @Html.DropDownListFor(u => u.RoleFields.RoleID, Model.Roles, "", new { @class = "form-control"})
                </div>

                <button>Search</button>
            </p>
        }
    </div>
</body>
